In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler , Normalizer
from scipy import stats
from sklearn import metrics
from pathlib import Path
from sklearn.model_selection import train_test_split
%matplotlib inline

In [2]:
# import tensorflow as tf
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier,plot_tree
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier
from sklearn.metrics import accuracy_score

In [3]:
from matplotlib import pyplot as plt
from sklearn import datasets
from sklearn import tree

In [4]:
# Cardio 
df = pd.read_csv("cardio.csv")

In [5]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50.391781,2,168,62.0,110,80,1,1,0,0,1,0
1,1,55.419178,1,156,85.0,140,90,3,1,0,0,1,1
2,2,51.663014,1,165,64.0,130,70,3,1,0,0,0,1
3,3,48.282192,2,169,82.0,150,100,1,1,0,0,1,1
4,4,47.873973,1,156,56.0,100,60,1,1,0,0,0,0

In [6]:
df.shape

(70000, 13)

In [7]:
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,53.339358,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,6.759594,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,29.583562,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,48.394521,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,53.980822,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,58.430137,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,64.967123,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
list(df)

['id',
 'age',
 'gender',
 'height',
 'weight',
 'ap_hi',
 'ap_lo',
 'cholesterol',
 'gluc',
 'smoke',
 'alco',
 'active',
 'cardio']

In [9]:
display("NULL Values", df.isnull().sum())

'NULL Values'

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

# Feature Selection

In [10]:
df= df.drop("id",axis=1)
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50.391781,2,168,62.0,110,80,1,1,0,0,1,0
1,55.419178,1,156,85.0,140,90,3,1,0,0,1,1
2,51.663014,1,165,64.0,130,70,3,1,0,0,0,1
3,48.282192,2,169,82.0,150,100,1,1,0,0,1,1
4,47.873973,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,52.712329,2,168,76.0,120,80,1,1,1,0,1,0
69996,61.920548,1,158,126.0,140,90,2,2,0,0,1,1
69997,52.235616,2,183,105.0,180,90,3,1,0,1,0,1
69998,61.454795,1,163,72.0,135,80,1,2,0,0,0,1
69999,56.273973,1,170,72.0,120,80,2,1,0,0,1,0

In [11]:
df.corr()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
age,1.000000,-0.022811,-0.081515,0.053684,0.020764,0.017647,0.154424,0.098703,-0.047633,-0.029723,-0.009927,0.238159
gender,-0.022811,1.000000,0.499033,0.155406,0.006005,0.015254,-0.035821,-0.020491,0.338135,0.170966,0.005866,0.008109
height,-0.081515,0.499033,1.000000,0.290968,0.005488,0.006150,-0.050226,-0.018595,0.187989,0.094419,-0.006570,-0.010821
weight,0.053684,0.155406,0.290968,1.000000,0.030702,0.043710,0.141768,0.106857,0.067780,0.067113,-0.016867,0.181660
ap_hi,0.020764,0.006005,0.005488,0.030702,1.000000,0.016086,0.023778,0.011841,-0.000922,0.001408,-0.000033,0.054475
ap_lo,0.017647,0.015254,0.006150,0.043710,0.016086,1.000000,0.024019,0.010806,0.005186,0.010601,0.004780,0.065719
cholesterol,0.154424,-0.035821,-0.050226,0.141768,0.023778,0.024019,1.000000,0.451578,0.010354,0.035760,0.009911,0.221147
gluc,0.098703,-0.020491,-0.018595,0.106857,0.011841,0.010806,0.451578,1.000000,-0.004756,0.011246,-0.006770,0.089307
smoke,-0.047633,0.338135,0.187989,0.067780,-0.000922,0.005186,0.010354,-0.004756,1.000000,0.340094,0.025858,-0.015486
alco,-0.029723,0.170966,0.094419,0.067113,0.001408,0.010601,0.035760,0.011246,0.340094,1.000000,0.025476,-0.007330
active,-0.009927,0.005866,-0.006570,-0.016867,-0.000033,0.004780,0.009911,-0.006770,0.025858,0.025476,1.000000,-0.035653
cardio,0.238159,0.008109,-0.010821,0.181660,0.054475,0.065719,0.221147,0.089307,-0.015486,-0.007330,-0.035653,1.000000

In [12]:
# df.cov()

## Feature Engineering

In [14]:
#model metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [15]:
from sklearn.feature_selection import RFE

In [16]:
y = df[["cardio"]]
X = df.drop(["cardio"],axis=1)

In [17]:
X

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,50.391781,2,168,62.0,110,80,1,1,0,0,1
1,55.419178,1,156,85.0,140,90,3,1,0,0,1
2,51.663014,1,165,64.0,130,70,3,1,0,0,0
3,48.282192,2,169,82.0,150,100,1,1,0,0,1
4,47.873973,1,156,56.0,100,60,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
69995,52.712329,2,168,76.0,120,80,1,1,1,0,1
69996,61.920548,1,158,126.0,140,90,2,2,0,0,1
69997,52.235616,2,183,105.0,180,90,3,1,0,1,0
69998,61.454795,1,163,72.0,135,80,1,2,0,0,0
69999,56.273973,1,170,72.0,120,80,2,1,0,0,1

In [ ]:
# Create the RFE 
rf = RandomForestClassifier()

In [ ]:
rf

In [ ]:
rfe = RFE(estimator=rf,step=1)
selector = rfe.fit(X, y)

In [ ]:
selector.support_

In [ ]:
selector.ranking_

## Selected Features: age, height, weight, ap_hi, ap_lo, cholesterol

In [ ]:
print("Optimal number of features : %d" % rfe.n_features_)

In [13]:
df = df.drop(['gender','gluc','smoke','alco','active'],axis=1)
df

             age  height  weight  ap_hi  ap_lo  cholesterol  cardio
0      50.391781     168    62.0    110     80            1       0
1      55.419178     156    85.0    140     90            3       1
2      51.663014     165    64.0    130     70            3       1
3      48.282192     169    82.0    150    100            1       1
4      47.873973     156    56.0    100     60            1       0
...          ...     ...     ...    ...    ...          ...     ...
69995  52.712329     168    76.0    120     80            1       0
69996  61.920548     158   126.0    140     90            2       1
69997  52.235616     183   105.0    180     90            3       1
69998  61.454795     163    72.0    135     80            1       1
69999  56.273973     170    72.0    120     80            2       0

[70000 rows x 7 columns]

In [14]:
y = df[["cardio"]]
X = df.drop(["cardio"],axis=1)

In [15]:
X

             age  height  weight  ap_hi  ap_lo  cholesterol
0      50.391781     168    62.0    110     80            1
1      55.419178     156    85.0    140     90            3
2      51.663014     165    64.0    130     70            3
3      48.282192     169    82.0    150    100            1
4      47.873973     156    56.0    100     60            1
...          ...     ...     ...    ...    ...          ...
69995  52.712329     168    76.0    120     80            1
69996  61.920548     158   126.0    140     90            2
69997  52.235616     183   105.0    180     90            3
69998  61.454795     163    72.0    135     80            1
69999  56.273973     170    72.0    120     80            2

[70000 rows x 6 columns]

In [16]:
# Split the dataset into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Decision Tree Model

In [30]:
# Train a a Decision Tree Model
dt = tree.DecisionTreeClassifier(max_depth=5, random_state=42)
dt_model =dt.fit(X_train_scaled, y_train)

In [31]:
print("Accuracy (training): {0:.3f}".format(
        dt.score(
            X_train_scaled,
            y_train)))
print("Accuracy (testing): {0:.3f}".format(
        dt.score(
            X_test_scaled,
            y_test)))

Accuracy (training): 0.733
Accuracy (testing): 0.729

# Random Forest Model

In [44]:
# Train a Random Forest Model
rf = RandomForestClassifier(n_estimators=90,
                            max_depth=5,
                            random_state=42)
rf_model = rf.fit(X_train_scaled, y_train)

C:\Users\kylie\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

In [45]:
print("Accuracy (training): {0:.3f}".format(
        rf.score(
            X_train_scaled,
            y_train)))
print("Accuracy (testing): {0:.3f}".format(
        rf.score(
            X_test_scaled,
            y_test)))

Accuracy (training): 0.731
Accuracy (testing): 0.732

In [25]:
# Evaluate the model
y_pred = rf.predict_proba(X_test_scaled)
y_pred[:,1][0]

0.8168893849375425

In [ ]:
from sklearn.model_selection import cross_val_score
rf_cv = RandomForestClassifier(n_estimators=100,
                               max_depth=5)
scores = cross_val_score(rf_cv, X_train_scaled, y_train, cv=5)

In [ ]:
scores

In [ ]:
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

In [ ]:
fn=X.columns.tolist()
cn=y.columns.tolist()

In [ ]:
fn

In [ ]:
cn

In [ ]:
print(len(rf.estimators_))

In [ ]:
rf.estimators_[0]

In [ ]:
fig, axes = plt.subplots(nrows = 1,ncols = 1,figsize = (4,4), dpi=800)
tree.plot_tree(rf.estimators_[0],
               feature_names = fn, 
               class_names = cn,
               filled = True);
fig.savefig('rf_individualtree.png')

In [ ]:
# Define the model - deep neural net
# number_input_features = len(X_train_scaled[0])
# hidden_nodes_layer1 = 36
# hidden_nodes_layer2 = 8
# hidden_nodes_layer3 = 70

# nn = tf.keras.models.Sequential()

# First hidden layer
# nn.add(
#     tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))

# Second hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
# nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
# nn.summary()

In [ ]:
# Compile the model using categorical_crossentropy for the loss function, the adam optimizer,
# and add accuracy to the training metrics
# model.compile(optimizer="adam", loss="categorical_crossentropy", metrics=["accuracy"])
# nn.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [ ]:
# X_train_scaled.shape

In [ ]:
# Use the training data to fit (train) the model
# @NOTE: Experiment with the number of training epochs to find the minimum iterations required to achieve a good accuracy
# nn.fit(X_train_scaled,y_train,epochs=30)

In [ ]:
# Export our model to HDF5 file
# nn.save("trained_factors.h5")

In [ ]:
# save the model to disk
import pickle
from pickle import dump
# save the model
dump(rf, open('model.pkl', 'wb'))

In [ ]:
# save the scaler
from pickle import dump
dump(scaler, open('scaler.pkl', 'wb'))

In [ ]:
# Evaluate the model using the test data
# model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

## Logistic Regression

In [19]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model testing accuracy: {accuracy_score(y_test,y_pred):.3f}")

C:\Users\kylie\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

 Logistic regression model testing accuracy: 0.719

## KNN

In [32]:
# Trani a KNN Model
from sklearn import neighbors

In [42]:
knn=neighbors.KNeighborsClassifier(n_neighbors=50)
knn_model = knn.fit(X_train_scaled, y_train)

C:\Users\kylie\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [43]:
print("Accuracy (training): {0:.3f}".format(
        knn.score(
            X_train_scaled,
            y_train)))
print("Accuracy (testing): {0:.3f}".format(
        knn.score(
            X_test_scaled,
            y_test)))

Accuracy (training): 0.698
Accuracy (testing): 0.684

## GradientBoostingClassifier

In [25]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a classifier object
learning_rates = [0.01,0.05, 0.1]
for learning_rate in learning_rates:
    GB = GradientBoostingClassifier(n_estimators=100,
                                            learning_rate=learning_rate,
                                            max_features=5,
                                            max_depth=3,
                                            random_state=42)

    # Fit the model
    GB.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy (training): {0:.3f}".format(
        GB.score(
            X_train_scaled,
            y_train)))
    print("Accuracy (validation): {0:.3f}".format(
        GB.score(
            X_test_scaled,
            y_test)))
    print()

C:\Users\kylie\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Learning rate:  0.01
Accuracy (training): 0.724
Accuracy (validation): 0.727

C:\Users\kylie\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Learning rate:  0.05
Accuracy (training): 0.735
Accuracy (validation): 0.734

C:\Users\kylie\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Learning rate:  0.1
Accuracy (training): 0.736
Accuracy (validation): 0.734

In [ ]:
X_test

In [ ]:
X_test_row = X_test[0:1]

In [ ]:
X_test_row

In [ ]:
GB.predict_proba(X_test_row)

## Exploratory data analysis (EDA)

In [ ]:
# Cardio 
df = pd.read_csv("cardio.csv")

In [ ]:
#Cardiovascular_Disease  histogram
plt.hist(df['cardio'])
plt.show()

In [ ]:
df.groupby('gender')['gender'].count()

In [ ]:
df_cardio = df.loc[df['cardio']==1]
df_cardio

In [ ]:
# Use seaborn to plot males and females count: male=1, female=2
sns.catplot('gender', data=df_cardio, kind='count', aspect=1.0)

In [ ]:
# Distribution of age, with an overlay of a density plot
age_dist = sns.distplot(df['age'])
age_dist.set_title("Distribution of Customers' Ages")

In [ ]:
# Distribution of age, with an overlay of a density plot
age_dist = sns.distplot(df_cardio['age'])
age_dist.set_title("Distribution of Customers' Ages")

In [ ]:
# Use seaborn to plot males and females count: male=1, female=2
sns.catplot('smoke', data=df, kind='count', aspect=1.0)

## Plot Training and Validation curves

In [ ]:
from sklearn.model_selection import learning_curve
train_sizes = [1000, 2000, 4000, 8000, 10000, 20000, 42000]
train_sizes, train_scores, validation_scores = learning_curve(
estimator = RandomForestClassifier(max_depth=3),
X = X_train_scaled,
y = y_train, train_sizes=train_sizes, cv=5,
scoring ='accuracy', shuffle=True)

sns.set_style('whitegrid')
train_scores_mean = train_scores.mean(axis = 1)
validation_scores_mean = validation_scores.mean(axis = 1)

plt.plot(train_sizes, train_scores_mean, label = 'Training Score', lw=3)
plt.plot(train_sizes, validation_scores_mean, label = 'Validation Score', lw=3)
plt.ylabel('Accuracy Score', fontsize = 14)
plt.xlabel('Training set size', fontsize = 14)
plt.legend()